

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: opacity 0.5s ease-in-out;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-image: url("bgf.jpg");
}

/* Book */
.book {
  position: relative;
  width: 350px;
  height: 500px;
  transition: transform 0.5s;
}
img {
  width: 350px;
  height: 500px;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.front,
.back {
  background-image: url("paper.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid firebrick;
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
  display: flex;
  /*justify-content: center;
    align-items: center;*/
}
#p2 .front-content {
  justify-content: center;
  align-items: center;
}

.back-content {
  transform: rotateY(180deg);
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}
#b1 h1:first-child {
  font-family: "Adobe Caslon Pro", sans-serif;
  text-decoration: underline;
  margin-left: 10px;
}
#b1 h2 {
  margin-left: 10px;
  font-family: "Adobe Caslon Pro", sans-serif;
}
#f2 h1 {
  font-size: 30px;
  font-family: "NT Fabulous", sans-serif;
}
#b2 h1 {
  font-family: "Adobe Caslon Pro", sans-serif;
  margin-left: 10px;
  display: inline-flex;
  font-size: 22px;
}
#f3 h1 {
  font-family: "Adobe Caslon Pro", sans-serif;
  margin-left: 10px;
  display: inline-flex;
  font-size: 22px;
}
#b2 img {
  height: 300px;
  width: 150px;
  display: block;
  margin: auto;
  margin-right: 80px;
}
@keyframes whirlwind {
  0% {
    transform: scale(0.2) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1) rotate(720deg);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.2) rotate(1440deg);
    opacity: 0;
  }
}
.fire-transition {
  opacity: 0;
  animation-name: fire;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes fire {
  0% {
      opacity: 0;
      transform: scale(0.1);
      filter: blur(100px);
  }
  100% {
      opacity: 1;
      transform: scale(1);
      filter: blur(0);
  }
}

#f3 img {
  height: 300px;
  width: 150px;
  display: block;
  margin: auto;
  margin-right: 80px;
}

/* Controller Buttons */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

button:hover i {
  color: whitesmoke;
}

i {
  font-size: 50px;
  color: firebrick;
}

/* Paper stack order */
#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}