* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: opacity 0.5s ease-in-out;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-image: url("bgf.jpg");
}

/* Book */
.book {
  position: relative;
  width: 350px;
  height: 500px;
  transition: transform 0.5s;
}
img {
  width: 350px;
  height: 500px;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  perspective: 1500px;
}

.front,
.back {
  background-image: url("paper.jpg");
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 0.5s;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
  border-left: 3px solid firebrick;
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  font-family: 'Averia Serif Libre', cursive;
  width: 100%;
  height: 100%;
  display: flex;
  /*justify-content: center;
    align-items: center;*/
}
#p2 .front-content {
  justify-content: center;
  align-items: center;
}

.back-content {
  transform: rotateY(180deg);
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}
/*Fonts*/

/* Front Content */
#f2 h1 {
  font-size: 30px !important;
  font-family: "NT Fabulous", sans-serif !important;
}
#f3 h1 {
  font-size: 22px;
  margin-left: 10px;
  display: inline-flex;
}
#f4 h1,
#f5 h1,
#f6 h1,
#f7 h1,
#f8 h1,
#f9 h1,
#f10 h1,
#f11 h1 {
  font-size: 22px;
}

/* Back Content */
#b1 h1:first-child {
  text-decoration: underline;
  margin-left: 10px;
  font-size: 22px;
}
#b1 h2 {
  margin-left: 10px;
  font-size: 22px;
}

#b2 h1,
#b3 h1 {
  margin-left: 10px;
  display: inline-flex;
  font-size: 22px;
}

#b4 h1,
#b5 h1,
#b6 h1,
#b7 h1,
#b8 h1,
#b9 h1,
#b10 h1 {
  font-size: 22px;
}

/*==images==*/

/*Front Content*/
#f3 img,
#f4 img,
#f5 img,
#f6 img,
#f7 img,
#f8 img,
#f9 img,
#f10 img,
#f11 img {
  height: 300px;
  width: 150px;
  display: block;
  margin: auto;
  margin-right: 80px;
}
/*Back Content*/
#b2 img,
#b3 img,
#b4 img,
#b5 img,
#b6 img,
#b7 img,
#b8 img,
#b9 img,
#b10 img{
  height: 300px;
  width: 150px;
  display: block;
  margin: auto;
  margin-right: 80px;
}

/*==Animation==*/
@keyframes whirlwind {
  0% {
    transform: scale(0.2) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1) rotate(720deg);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.2) rotate(1440deg);
    opacity: 0;
  }
}
.fire-transition {
  opacity: 0;
  animation-name: fire;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes fire {
  0% {
    opacity: 0;
    transform: scale(0.1);
    filter: blur(100px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

/* Controller Buttons */
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.5s;
}

button:focus {
  outline: none;
}

button:hover i {
  color: whitesmoke;
}

i {
  font-size: 50px;
  color: firebrick;
}
#p1 {
  z-index: 11;
}

#p2 {
  z-index: 10;
}

#p3 {
  z-index: 9;
}

#p4 {
  z-index: 8;
}

#p5 {
  z-index: 7;
}

#p6 {
  z-index: 6;
}

#p7 {
  z-index: 5;
}

#p8 {
  z-index: 4;
}

#p9 {
  z-index: 3;
}

#p10 {
  z-index: 2;
}

#p11 {
  z-index: 1;
}
